.LoginPage{
    display: flex;
    justify-content: center;
    padding : 1rem;
    min-height: inherit;

}
.LoginCard{
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.LoginWave{
    background-position: bottom;
    background-repeat: no-repeat;
}