#body {
    background-color: hsl(0, 0%, 98%)
}

html {
    --color-primary: #c62828;
}

.MuiButton-startIcon {
    margin-left: 6px !important;
    margin-right: 6px !important;
}
.Page{
    display: flex;
    justify-content: center;
    padding : 1rem;
    min-height: inherit;
}
.modal-content {

    background-color: inherit  !important;
    border: 0 !important;
}